.section-slide{
    height: 100vh;
    background:#ffa0a1;
    padding: 5vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    scroll-snap-align: center;
}

.section-tan{
    background: #fcbc8c;
}

.section-green{
    background: #668646;
}

.section-blue{
    background: #3f9bf2;
}

.section-brown{
    background: rosybrown;
}

body {
    font-family: "Avenir Next";
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.button-section{
    position: fixed;
    top: 45%;
    left: 2%;
}

.circle-button{
    width: 5px;
    height: 12px;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border: none;
}

.circle-button:active {
    transform: scale(1.2);
}

#country-info{
    /* position in center */
    background-color: #fcbc8c;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* font color */
    color: #333;
    /* center */
    text-align: start;
    margin-top: 20px;
}

li{
    list-style: none;

}

#country-name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.fp-controlArrow.fp-prev {
    margin-left: 30px;
    margin-top: 20%;
}

.fp-controlArrow.fp-next {
    margin-right: 30px;
    /* line up 30px above bottom */
    margin-top: 20%;

}

.fp-controlArrow.fp-next:hover{
    opacity: 0.3;
    translate: 2px;
}

.fp-controlArrow.fp-prev:hover{
    opacity: 0.3;
    translate: -2px;
}

.slide-container{
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* The slider itself */
.slider {
    appearance: none;
    width: 100%;
    height: 30px;
    margin-right: 40px;
}


#myRange{
    margin-top: 20px;
    width: 500px;
    content-align: center;
}

#myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #f5b51e;
    cursor: pointer;
}

#mentalHealthMapSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: rgb(19, 109, 112);
    cursor: pointer;
}


/* change color of content in #fp-nav to white */
#fp-nav ul li a span,
.fp-slidesNav ul li a span{
    background: white;
}

#fp-nav ul li .fp-tooltip{
    font-family: "Avenir Next";
}

select {
    text-align-last: center;
}

#timeSelectorDiv {
    margin-top: 10px;
}

#mentalHealthMapYearId {
    margin-bottom: 0px;
}

.intro-part {
    padding: 20px;
    border: white 2px solid;
    border-radius: 5px;
}

/* center and size #intro-img */
#intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    margin-bottom: 10px;
}

#first-slide{
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    float:left;
    /* center top to bottom */
}

#happy-meal-graph{
    width: 100%;
    height: 100%;
}

#yearId{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#us-button{
    /* beautiful button */
    background-color: #fcbc8c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* center */
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

/* align #member    to center */
#member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-grey{
    background: #a2a2a2;
}

.myRange2{
    /* make slider */
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

#us-map-button{
    /* beautiful button */
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    /* center */
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

.us-info{
    /* center */
    text-align: center;
    background-color: white;
border-radius: 5px;
    color: black;
    padding: 20px;
}

/* make .row not overflow */
.row {
    width: 100%;
}

.card-fin{
    /* center */
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#final-button{
    /* make pretty button */
    background-color: #fcbc8c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
